#imagen_slider{
    display: block;
    margin: 0px auto;
    border-radius:70px;
    width: 89%;
    height: 95%;
}
#img_whats{
    display: block;
    margin: 0px auto;
    border-radius:70px;
    width: 100%;
    height: 100%;

}
#fondo_slider{
    background : linear-gradient( #0000cc 80%, hsla(0,0%,80%,20%) 20% );

}
.color_azul{
    background-color: #0000cc !important;
}
.color_blanco{
    background-color: #FFFFFF !important;
}
.color_gris_claro{
    background-color: hsla(0,0%,80%,20%) !important;
}
.color_gris_obscuro{
    background-color: #cccccc !important;
}
#busqueda_index{
    padding: 10px;
    padding-bottom: 0px;
    background-color: #FFFFFF !important;
    border-radius:40px 40px 40px 40px !important;
    width: 75%;
    /*height: 20%;*/
    left: 12%;
    position: absolute;
    bottom: -10%;

    z-index:3;
    /*transform: translate(-50%, -50%);*/
}
.modificacion_interna_busqueda_index{
    margin-right: -15px;
    margin-left: 5px;
}

.carta_img_casa{
    border-radius:40px 40px 40px 40px !important;
    height: 330px !important;
}
.color_cart_casa{
    border-radius:40px 40px 40px 40px !important;
    background-color: hsla(0,0%,80%,20%)!important;
    border: none !important;
    margin: 0% !important;
}
.fondo_index{
    background : linear-gradient( hsla(0,0%,80%,20%) 71.5%, #FFFFFF 28.5%);
}
.menu_principal{
    height: 75px !important;

}