#enlace1 {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #0000cc;
    font-weight: 600;
    overflow: hidden;
    padding: 12px 16px;
    position: relative;
    text-transform: none;
}

/* Style the active class, and buttons on mouse-over */
.active, #enlace1:hover {
    color: #ff3300;
}

#imagenI{
    display: block;
    margin: 0px auto;
    border-radius:70px;
    width: 95%;
    height: 100%;
}
#cuadro1{
    background-color: #0000cc ;

}
.color_azul{
    background-color: #0000cc !important;
}
.color_blanco{
    background-color: #FFFFFF !important;
}
#cuadro2 {
    padding: 30px;
    background-color: #FFFFFF !important;
    display: block;
    margin: 0px auto;
    border-radius: 40px;
    width: 85%;
    height: 100%;
    padding-bottom: 10px;
}