#imagen_slider{
    display: block;
    margin: 0px auto;
    border-radius:70px;
    width: 89%;
    height: 95%;
}
#fondo_slider{
    background : linear-gradient( #0000cc 71.5%, hsla(0,0%,80%, 0%) 28.5%);

}
.color_azul{
    background-color: #0000cc !important;
}
.color_blanco{
    background-color: #FFFFFF !important;
}
.color_gris_claro{
    background: hsla(0,0%,80%,20%) !important;
}
.color_gris_obscuro{
    background-color: #cccccc !important;
}
#busqueda_index{


    background-color: #fff ;
    border-radius:50px 50px 50px 50px ;

    z-index:3000000;
    min-height: 95px;


    /*transform: translate(-50%, -50%);*/
}
.modificacion_interna_busqueda_index{

}


.carta_img_casa{
    border-radius:40px 40px 0px 0px !important;
    height: 240px !important;
}
.color_cart_casa{
    border-radius:40px 40px 40px 40px !important;
    background: transparent !important;
    border: none !important;
    margin: 0% !important;
}
.fondo_index{
    background : linear-gradient( hsla(0,0%,80%,20%) 71.5%, #FFFFFF 28.5%);
}
.menu_principal{
    height: 75px;
    padding: 0;
    width: 100%;

}
.contenedor_img_whats{
    width: 100% !important;
    align-items: center !important;

}
.contenedor_index{
    width: 100% !important;
    align-items: center !important;
    padding-left: 0%;
    padding-right: 0%;
}
.contenedor_slider{
    width: 100% !important;
    align-items: center !important;
    padding-left: 4%;
    padding-right: 4%;
}
.contenedor_whats{
    width: 100% !important;
    align-items: center !important;
    padding-left: 0%;
    padding-right: 0%;
}
.img_whatsapp{
    align-items: center !important;
    display: block;
    margin: 0px auto;
    border-radius:70px;
    width: 90%;
    width: 89%;
}
.posicion_main{
    position: relative;
    top: -65px;
}
.contenido_boton_mapa_text{
    top: 70%;
    border: #0000Cc;
    border-radius:0px 0px 40px 40px;
    background-color: #0000Cc;
    padding-bottom: 10%;
    padding-top: 0%;
}
.contenedor_mapa_text{
    padding: 10px;
}
.estilo_redondo_abajo{
    border-radius:0px 0px 40px 40px;
}
.posicion_boton_buscar{
    position: relative;
    top: 10px;
}
.posicion_mapa_texto{
    position: relative;
    top: -42px;
    width: 100% !important;
    align-items: center !important;
    z-index: 3;
}
.carousel-indicators .active{
    background-color: #0000CC !important;
}
#viñeta_slider{
    background-color: #6666ff;
}

.header-inner .logo {
    padding: 0;
}
.navbar-nav>li>a {
     padding-top: 0;

}
.top-bar-fixed .menu{
    padding-top: 25px;
}


element.style {
}
#enlace_menu_principal:hover {

    color: #FF3300;
}
.vh-100{
    min-height: 100vh;
}
.vh-70{
    min-height: 70vh;
}


.padding-0{
    padding: 0;
}


element.style {
    user-select: none;
}
.header-slider .carousel .carousel-inner .item {
    height: 650px;
    z-index:3;
}

.fixed{
    width: 100%;
    position: fixed;
    bottom: 20px;
    z-index:4;
}
.buscador{
    background-color: #fff;
    border-radius: 30px;
    padding-left: 8%;
    width: 80%;
    position: relative;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    z-index:3;
    display: flex;
    justify-content: center;

}
#altura_slider{
    height: 77.5vh;
}
