@font-face{
    font-family: Montserrat-Black;
    src:url("fonts/fuentes/Montserrat-Black.otf");

}
@font-face{
    font-family: Montserrat-Light;
    src:url("fonts/fuentes/Montserrat-Light.otf");
}
@font-face{
    font-family: Montserrat-Medium;
    src:url("fonts/fuentes/Montserrat-Medium.otf");
}

#etiqueta1{
    color: #ffffff;
    text-align: center;
    font-family: Montserrat-Black;
    font-size: 50px;
    margin: 0px;
}
#etiqueta2{
    color: #ffffff;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 20px;
    margin: 0px;
}

#links {
    font-family: Montserrat-Medium;
    font-size: 20px;
    color: #0000cc;
}
#select {
    float: left;
    text-align: center;
    background-color: #FFFFFF !important;
    border: none !important;
    color: #000000;
    font-family: Montserrat-Medium;
    font-size: 20px;
    margin: 0px;

}
#select1 {
    float: top;
    text-align: center;
    background-color: #FFFFFF !important;
    border: none !important;
    color: #000000;
    font-family: Montserrat-Medium;
    font-size: 20px;
    margin: 0px;

}
#btn_buscar {
    float: right !important;
    display: block;
    padding: 25px;
    border-radius:30px;
    text-align: center;
    background-color: #0000cc; !important;
    border: none !important;
    color: #FFFFFF;
    font-family: Montserrat-Medium;
    font-size: 20px;
    margin: 10px;

}