@font-face{
    font-family: Montserrat-Black;
    src:url("fonts/fuentes/Montserrat-Black.otf");

}
@font-face{
    font-family: Montserrat-Light;
    src:url("fonts/fuentes/Montserrat-Light.otf");
}
@font-face{
    font-family: Montserrat-Medium;
    src:url("fonts/fuentes/Montserrat-Medium.otf");
}

.titulo_slider{
    color: #ffffff;
    text-align: center !important;
    font-family: Montserrat-Black;
    font-size: 35px;
    margin: 0px;
    padding: 0px !important;
}
.subtitulo_slider{
    color: #ffffff;
    text-align: center;
    font-family: Montserrat-Medium;
    font-size: 15px;
    margin: 0px;
}

#enlace_menu_principal {
    font-family: Montserrat-Medium;
    font-size: 15px;
    color: #0000cc;
}
#select {
    /*float:  right;*/
    text-align: center;
    background-color: #FFFFFF !important;
    border: none !important;
    color: #000000;
    padding: 20px;
    font-family: Montserrat-Medium;
    font-size: 20px;
    margin: 0px;

}
#select1 {
    /*float:  right;*/
    text-align: center;
    background-color: #FFFFFF !important;
    border: none !important;
    color: #000000;
    padding: 20px;
    font-family: Montserrat-Medium;
    font-size: 20px;
    margin: 0px;

}
#btn_buscar {
    /*float: right !important;*/
    display: block;
    padding: 20px;
    border-radius:30px;
    text-align: center;
    background-color: #0000cc !important;
    border: none !important;
    color: #FFFFFF;
    font-family: Montserrat-Medium;
    font-size: 15px;
    margin: 10px;
}

.btn_info_casa{
    color: #ffffff !important;
    text-align: center !important;
    font-family: Montserrat-Medium !important;
    font-size: 15px !important;
    margin: 0px !important;
    width: 200px;
    border-radius:20px 20px 20px 20px !important;
    background-color: #0000cc !important;
    padding: 20px;
}
.btn_info_cart_casa{
    color: #ffffff !important;
    text-align: center !important;
    font-family: Montserrat-Medium !important;
    font-size: 15px !important;
    margin: 0px !important;
    width: 100px;
    border-radius:10px 10px 10px 10px !important;
    background-color: #0000cc !important;
    padding: 5px;
    position: absolute;
    top: 5%;
    left: 0%;
    z-index:1;
}
.btn_whatsapp{
    color: #ffffff !important;
    text-align: center !important;
    font-family: Montserrat-Medium !important;
    font-size: 30px !important;
    margin: 0px !important;
    width: 200px;
    border-radius:20px 20px 20px 20px !important;
    background-color: #0000cc !important;
    padding: 10px;


}

.etiqueta_imagen{
    color: #0000cc !important;
    text-align: center !important;
    font-family: Montserrat-Medium !important;
    font-size: 15px !important;
    margin: 0px !important;
    width: 90px;
    border-radius:10px 10px 10px 10px !important;
    background-color: #cccccc !important;
    padding: 5px;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index:1;


}
.whatsapp_h{
    background-color: #FFFFFF;
    color: #0000cc;
    text-align: center;
    font-family: Montserrat-Black;
    font-size: 55px;
    margin: 0px;

}
.whatsapp_h2 {
    background-color: #FFFFFF;
    text-align: center;
    color: #999999;
    font-family: Montserrat-Medium;
    font-size: 32px;
    margin: 0px;

}
