<?php
namespace config;

class database{
    public string $db_name = 'db:name'; //Name database
    public string $db_user = 'db_user'; // User database
    public string $db_password = 'db_password'; // Pass database
    public string $db_host = 'db_host'; // Host Database
    public string $set_name ='';//UCS Transformation Format 8
    public string $time_out = '';
    public string $sql_mode = '';
}