<?php
namespace config;

class views{
    public int $reg_x_pagina = 15; //Registros a mostrar en listas
    public string $titulo_sistema = 'titulo'; //Titulo de sistema
    public string $ruta_template_base = "/";
    public string $ruta_templates= "/";
    public string $url_assets = '';

    public function __construct(){
        $url = 'http://';
        $this->url_assets = $url. '/';

    }

}


